header {
  background-color: grey;
  height:  150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a8b0b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #626a6e, #a8b0b3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #626a6e, #a8b0b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height:  100%;
}

header > h1 {
  color:  white;
}

.generator {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.generator > img {
  margin-top: 40px;
  width: 600px;
}

.generator > button {
  width:  200px;
  height: 50px;
  margin: 0 auto;
}
